$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import "common/common";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

.app {
  height: 100%;
  background-color: $bgColor;
}

