<div ng-dblclick="$ctrl.changeMode()" class="row task">
    <div class="row">
        <div class="pull-left">
            <div class="text-left">
                <div ng-if="!$ctrl.updateMode" class="task-title">{{ $ctrl.obj.title }}</div>
                <div ng-if="$ctrl.updateMode"><input type="text" class="form-control"
                                                     id="title"
                                                     ng-model="$ctrl.obj.title">
                </div>
            </div>
        </div>
        <div class="text-right">
            <div ng-if="!$ctrl.updateMode && $ctrl.isOwner" class="text-right"><i ng-click="$ctrl.deleteTask()"
                                                                                  class="glyphicon glyphicon-remove"></i>
            </div>
        </div>
    </div>
    <div class="row task-detail">
        <div ng-if="!$ctrl.updateMode" ng-bind-html="$ctrl.obj.description">

        </div>
        <div ng-if="$ctrl.updateMode">
                    <textarea type="text" class="form-control"
                              id="description"
                              ng-model="$ctrl.obj.description"></textarea>
        </div>

    </div>
    <div class="row">
        <div ng-if="!$ctrl.updateMode" class="col-xs-offset-2 col-xs-10 text-right task-author">{{
            $ctrl.obj.author.username }}
        </div>
        <div ng-if="$ctrl.updateMode" class="col-xs-offset-2 col-xs-10 text-right">
            <div ng-click="$ctrl.updateTask()" class="btn btn-primary">
                {{$ctrl.createMode ? 'Add Task' : 'Update Task'}}
            </div>
        </div>
    </div>
</div>
