@import url(http://fonts.googleapis.com/css?family=Roboto);

//colors
$primaryColor: rgb(120, 126, 156);
$accentColor: #9C769A;
$bgColor: #FCFCFC;
$bgHoverColor: #f8f8f8;
$headerBgColor: #f8f8f8;
$containerBgColor: #F1F2F5;
$darkBgColor: #3E4255;
$lightBgColor: #FCFCFC;
$lightTextColor: #fff;
$darkTextColor: #4B4E51;
$sideBgColor: #fff;

body {
   height: 100%;
   max-width: 100%;
   // browsers default to 16px for font-size,
   // so setting top-level font-size to 62.5%
   // scales 1rem to equal 10px.
   font: 62.5% 'Roboto', sans-serif;
  .row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

